@use '../base/variables' as *;
@use '../base/mixins' as *;
.header{
    background-color: $verde;


   @include tablet{
    color: aqua;
   }
   @include telefono{
    color: aqua;
   }
 
    
    .contenido-header{
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1{
       color: $blanco;
       margin: 0;
   }
}

.navegacion-principal{
    display: flex;
    gap: 2rem;
    a{
        color:$blanco;
        &:hover{
           color:$amarillo;
        }
    }
}

